<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coherentsolutions.by.max.sir.androidtrainingtasks">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />

    <!--    TODO if app will be based only on BLE then uncomment
                 but this will cause that in Google Play Market devices with out BLE
                                                               will not see this app
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />-->

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_web"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_web"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidTrainingTasks"
        tools:ignore="AllowBackup">
        <activity
            android:name=".ble.BLEActivity"
            android:exported="true" />
        <activity
            android:name=".webcontent.TermsAndConditionsActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <receiver android:name=".home.notifications.MyNotificationPublisher" />

        <service
            android:name=".home.notifications.MyFirebaseMessagingService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".home.HomeActivity"
            android:label="Home Activity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".regestrationmodule.ui.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan"
            tools:ignore="IntentFilterExportedReceiver,LockedOrientationActivity">

            <!-- android:label="@string/title_activity_login"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>